@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter','Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Styling untuk konten Trix di Halaman Public */
.trix-content h1 { font-size: 2em; font-weight: bold; margin-bottom: 0.5em; }
.trix-content h2 { font-size: 1.5em; font-weight: bold; margin-bottom: 0.5em; }
.trix-content ul { list-style-type: disc; padding-left: 1.5em; margin-bottom: 1em; }
.trix-content ol { list-style-type: decimal; padding-left: 1.5em; margin-bottom: 1em; }
.trix-content blockquote { border-left: 4px solid #ccc; padding-left: 1em; font-style: italic; }
.trix-content a { color: #10b981; text-decoration: underline; }
.trix-content strong { font-weight: bold; }
.trix-content em { font-style: italic; }

